.top-link {
  right: unset;
  inset-inline-end: 2rem; /* automatically becomes right in LTR, left in RTL */
}

.md-content blockquote {
  font-style: italic;
  border-color: #0077ff;
  background-color: #e6f2ff;
  border-end-end-radius: var(--radius);
  border-start-end-radius: var(--radius);
}

[data-theme="dark"] .md-content blockquote {
  background-color: #242c39;
}
